@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 210 20% 9%;
    --foreground: 214 15% 91%;
    --card: 214 20% 13%;
    --card-foreground: 214 15% 91%;
    --popover: 214 20% 13%;
    --popover-foreground: 214 15% 91%;
    --primary: 214 20% 69%;
    --primary-foreground: 210 20% 9%;
    --secondary: 217 19% 27%;
    --secondary-foreground: 214 15% 91%;
    --muted: 217 19% 27%;
    --muted-foreground: 214 15% 69%;
    --accent: 217 19% 24%;
    --accent-foreground: 214 15% 91%;
    --destructive: 0 84% 71%;
    --destructive-foreground: 210 20% 9%;
    --border: 217 19% 24%;
    --input: 217 19% 24%;
    --ring: 214 20% 69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
